.navbar {
    height: 70px; /* Ajusta la altura de acuerdo al contenido */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 0;
}

.navbar-brand img {
    height: 110px; /* Ajusta el tamaño del logo para que encaje en la navbar */
    width: auto; /* Mantiene la proporción */
}
