.navbar {
    height: 70px; /* Ajusta la altura de acuerdo al contenido */
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
    padding: 0;
}

.navbar-brand img {
    height: 110px; /* Ajusta el tamaño del logo para que encaje en la navbar */
    width: auto; /* Mantiene la proporción */
}

.form-select{
    margin-top: 30px;
    margin-bottom: 50px;
}
.nav-item .nav-link:hover {
    color: #0d6efd;  /* Color de Bootstrap primary */
    transform: scale(1.1);
    transition: all 0.2s ease;
}
.nav-item img {
    width: 30px;
    height: 30px;
    object-fit: cover; 
}

